<a href="https://colab.research.google.com/github/SharmaAyush98/EDA_CAPSTONE/blob/main/Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Airbnb Booking Analysis**

**Capstone Project EDA**

**Team - pro-infinity**

**Team Members - Ayush Sharma, Saurabh Aradwad, Rishika Rai, Aman Guleria, Murlidharan M**

**Problem statement**

> Indented block

Airbnb is a privately held website that connects homeowners with travelers looking for
 accommodations. With the help of few guidelines that allow hosts to compare their listings to
 others in the area to determine a fair price, Airbnb gives its hosts unlimited freedom
 to set the price for their units. On the other hand, guests who use Airbnb frequently 
experience lodging issues for a variety of reasons. Seasonal rushes, unforeseen 
cancellations of reservations, host preferences, etc. may all fall under this category.

Airbnb wants to know more about their customers and providers (hosts) so, What kind of measures can be taken to improve security, What can be their 

* What kind of measures can be taken to improve security, What can be their further business decisions?
* which are the busiest or least busy areas according to customers or hosts and why?
* what is our new marketing initiatives as well as the implementation of innovative additional services? 
*  What can we learn from different pricing in different areas?
*  What can be learnt from difference areas with different pricing? 
* What marketing strategy can be taken with the help of most busiest area column.


*  
*  




This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values.

In [121]:
# Importing all the required libraries for the analysis of given dataset
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [122]:
# Connecting to google drive with mount method

''' 
from google.colab import drive
drive.mount('/content/drive') 
'''

" \nfrom google.colab import drive\ndrive.mount('/content/drive') \n"

In [123]:
# Creating var airbnb using pandas read csv funtion
'''
airbnb = pd.read_csv("/content/drive/MyDrive/Capstone Project Folder/01 EDA/Airbnb NYC 2019.csv")


# Testing csv file mounting

airbnb

'''

'\nairbnb = pd.read_csv("/content/drive/MyDrive/Capstone Project Folder/01 EDA/Airbnb NYC 2019.csv")\n\n\n# Testing csv file mounting\n\nairbnb\n\n'

In [124]:
# Connecting to GitHub repository 

!git clone https://github.com/SaurabhAradwad/EDA-Capstone.git

fatal: destination path 'EDA-Capstone' already exists and is not an empty directory.

In [125]:
# importing csv file

# from imutils import paths 

airbnb = pd.read_csv("/content/EDA-Capstone/Airbnb NYC 2019.csv")
 
airbnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [126]:
# Which are the busiest or least busy areas according to customers or hosts and why?

# airbnb.drop(['id','name','last_review','number_of_reviews'], axis=1, inplace=True)
# airbnb.head()

In [127]:
# Computing Dataset length using length function 

len(airbnb)

48895

In [128]:
# Checking All 16 columns 
airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [129]:
# Checking For NULL values(Checking missing or Zero(0) or values which is not avaible)

airbnb.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [130]:
airbnb.head().T

,0,1,2,3,4
id,2539,2595,3647,3831,5022
name,Clean & quiet apt home by the park,Skylit Midtown Castle,THE VILLAGE OF HARLEM....NEW YORK !,Cozy Entire Floor of Brownstone,Entire Apt: Spacious Studio/Loft by central park
host_id,2787,2845,4632,4869,7192
host_name,John,Jennifer,Elisabeth,LisaRoxanne,Laura
neighbourhood_group,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan
neighbourhood,Kensington,Midtown,Harlem,Clinton Hill,East Harlem
latitude,40.64749,40.75362,40.80902,40.68514,40.79851
longitude,-73.97237,-73.98377,-73.9419,-73.95976,-73.94399
room_type,Private room,Entire home/apt,Private room,Entire home/apt,Entire home/apt
price,149,225,150,89,80
minimum_nights,1,1,3,1,10
number_of_reviews,9,45,0,270,9
last_review,2018-10-19,2019-05-21,NaN,2019-07-05,2018-11-19
reviews_per_month,0.21,0.38,NaN,4.64,0.1
calculated_host_listings_count,6,2,1,1,1
availability_365,365,355,365,194,0

In [131]:
airbnb.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [132]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [133]:
# Which are the busiest or least busy areas according to customers or hosts and why?
airbnb.drop(['host_id','neighbourhood_group','neighbourhood','latitude','longitude','room_type','calculated_host_listings_count'], axis=1, inplace=True)
airbnb.head()

,id,name,host_name,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365
0,2539,Clean & quiet apt home by the park,John,149,1,9,2018-10-19,0.21,365
1,2595,Skylit Midtown Castle,Jennifer,225,1,45,2019-05-21,0.38,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,Elisabeth,150,3,0,NaN,NaN,365
3,3831,Cozy Entire Floor of Brownstone,LisaRoxanne,89,1,270,2019-07-05,4.64,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,Laura,80,10,9,2018-11-19,0.10,0

In [136]:
airbnb.number_of_reviews.value_counts().head()

AttributeError: ignored

In [ ]:
#what is our new marketing initiatives as well as the implementation of innovative additional services?