<a href="https://colab.research.google.com/github/SharmaAyush98/EDA_CAPSTONE/blob/main/Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Airbnb Booking Analysis**

**Capstone Project EDA**

**Team - pro-infinity**

**Team Members - Ayush Sharma, Saurabh Aradwad, Rishika Rai, Aman Guleria, Murlidharan M**

**Problem statement**

> Indented block

Airbnb is a privately held website that connects homeowners with travelers looking for
 accommodations. With the help of few guidelines that allow hosts to compare their listings to
 others in the area to determine a fair price, Airbnb gives its hosts unlimited freedom
 to set the price for their units. On the other hand, guests who use Airbnb frequently 
experience lodging issues for a variety of reasons. Seasonal rushes, unforeseen 
cancellations of reservations, host preferences, etc. may all fall under this category.

Airbnb wants to know more about their customers and providers (hosts) so, What kind of measures can be taken to improve security, What can be their 

* What kind of measures can be taken to improve security, What can be their further business decisions?
* which are the busiest or least busy areas according to customers or hosts and why?
* what is our new marketing initiatives as well as the implementation of innovative additional services? 
*  What can we learn from different pricing in different areas?
*  What can be learnt from difference areas with different pricing? 
* What marketing strategy can be taken with the help of most busiest area column.


*  
*  




This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values.

In [ ]:
# Importing all the required libraries for the analysis of given dataset
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
# Connecting to google drive with mount method

''' 
from google.colab import drive
drive.mount('/content/drive') 
'''

" \nfrom google.colab import drive\ndrive.mount('/content/drive') \n"

In [ ]:
# Creating var airbnb using pandas read csv funtion
'''
airbnb = pd.read_csv("/content/drive/MyDrive/Capstone Project Folder/01 EDA/Airbnb NYC 2019.csv")


# Testing csv file mounting

airbnb

'''

'\nairbnb = pd.read_csv("/content/drive/MyDrive/Capstone Project Folder/01 EDA/Airbnb NYC 2019.csv")\n\n\n# Testing csv file mounting\n\nairbnb\n\n'

In [ ]:
# Connecting to GitHub repository 

!git clone https://github.com/SaurabhAradwad/EDA-Capstone.git

Cloning into 'EDA-Capstone'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (22/22), done.
remote: Total 23 (delta 10), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (23/23), done.

In [ ]:
# importing csv file

# from imutils import paths 

airbnb = pd.read_csv("/content/EDA-Capstone/Airbnb NYC 2019.csv")
 
airbnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [ ]:
# Which are the busiest or least busy areas according to customers or hosts and why?

airbnb.drop(['id','name','last_review','number_of_reviews'], axis=1, inplace=True)
airbnb.head()

,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,reviews_per_month,calculated_host_listings_count,availability_365
0,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,0.21,6,365
1,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,0.38,2,355
2,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,NaN,1,365
3,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,4.64,1,194
4,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,0.10,1,0

In [ ]:
# Computing Dataset length using length function 

len(airbnb)

48895

In [ ]:
# Checking All 16 columns 
airbnb.columns

Index(['host_id', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [ ]:
# Checking For NULL values(Checking missing or Zero(0) or values which is not avaible)

airbnb.isnull().sum()

host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [15]:
airbnb.head().T

,0,1,2,3,4
host_id,2787,2845,4632,4869,7192
host_name,John,Jennifer,Elisabeth,LisaRoxanne,Laura
neighbourhood_group,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan
neighbourhood,Kensington,Midtown,Harlem,Clinton Hill,East Harlem
latitude,40.64749,40.75362,40.80902,40.68514,40.79851
longitude,-73.97237,-73.98377,-73.9419,-73.95976,-73.94399
room_type,Private room,Entire home/apt,Private room,Entire home/apt,Entire home/apt
price,149,225,150,89,80
minimum_nights,1,1,3,1,10
reviews_per_month,0.21,0.38,NaN,4.64,0.1
calculated_host_listings_count,6,2,1,1,1
availability_365,365,355,365,194,0

In [19]:
airbnb.tail()

,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,reviews_per_month,calculated_host_listings_count,availability_365
48890,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,NaN,2,9
48891,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,NaN,2,36
48892,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,NaN,1,27
48893,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,NaN,6,2
48894,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,NaN,1,23

In [20]:
# Which are the busiest or least busy areas according to customers or hosts and why?
airbnb.drop(['host_id','host_name','reviews_per_month'], axis=1, inplace=True)
airbnb.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count,availability_365
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,6,365
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,2,355
2,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,1,365
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,1,194
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,1,0

In [ ]:
#what is our new marketing initiatives as well as the implementation of innovative additional services?